.App {
  text-align: center;
  margin: 0 auto;
  height: 100vh;
  /* height: 100%; */
  display: flex;
  flex-direction: column;
}

.App-header {
  background-color: #282c34;
  color: white;
}

.App-main {
  border: 1px solid gray;
  height: 100%;
  flex: 1;
}


.Forest {
  display: flex;
  flex-direction: column;
  text-align: left;
  border: 1px solid red;
  height: 100%;
  margin: 2px;
  padding: 2px;
}

.TestTree {
  /* background: steelblue; */
  height: 100%;
  width: 400px;
  text-align: left;
  font-size: 18px;
  border: 1px solid orange;
  margin: 2px;
  padding: 2px;
}

.TestTree, .Suite, .Spec, .Group, .Leaf {
  /* border: 1px solid violet; */
  margin: 2px;
  padding: 2px;
}

.Row {
  display: flex;
  flex-direction: row;
}

.Status {}

/* .Spec {
  border: 1px solid blue;
  margin: 2px;
  padding: 2px;
}

.Group {
  border: 1px solid magenta;
  margin: 1px;
  padding: 1px;
}

.Leaf {
  border: 1px solid violet;

} */

ul, li { list-style: none;}
