.App {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  margin: 0 auto;
  height: 100vh;
  /* height: 100%; */
  display: flex;
  flex-direction: column;
}

.App-header {
  background-color: #282c34;
  color: white;
}

.App-main {
  border: 1px solid gray;
  height: 100%;
  flex: 1;
}


.Forest {
  display: flex;
  flex-direction: row;
  text-align: left;
  /* border: 1px solid red; */
  height: 100%;
  /* margin: 2px;
  margin-top:5px;
  padding: 2px; */
}

.Tree {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: scroll;
  min-width: 400px;
  /* margin: 4px;
  padding: 2px; */
}

.Analysis {
  flex: 2;
  margin: 4px;
  padding: 2px;
  overflow: scroll;
}

.SidebarRow {
  /* border: 1px solid #303030; */
  padding: 20px;
  user-select: none;
  display: flex;
  align-items: center;
}

.SidebarRowRoot {
  background: #e0e0e0;
  font-size: 18px;;
  /* border: 1px solid #606060; */
}

.SidebarRowRoot.SidebarRow-focused {
  /* border: 1px solid #303030; */
  background: #fafafa;
}



.SidebarRowLeaf {
  background: #d0d0d0;
  font-size: 16px;
  /* border: none;  */
}
.SidebarRowLeaf.SidebarRow-focused {
  background: #eaeaea;
}

.SidebarRow__sigils {
  font-size: 36px;
  color: #606060;
  flex: 1;
}

.SidebarRow__desc {
  /* font-size: 6px; */
  color: #303030;
  flex: 10;
  /* font-size: 20px; */
}

/* .SidebarRow + .SidebarRow { border: 1px solid yellow; } */
/* .SidebarRow + .SidebarRow + .SidebarRow { border: 1px solid green; } */

