.App {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.App-header {
  background-color: #282c34;
  color: white;
}

.App-main {
  border: 1px solid gray;
  height: 100%;
  flex: 1;
}


.Forest {
  display: flex;
  flex-direction: row;
  text-align: left;
  height: 100%;
}

.Tree {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: scroll;
  min-width: 400px;
  /* background: #e0e0e0; */
}

.Analysis {
  flex: 2;
  /* margin: 4px; */
  /* padding: 12px; */
  overflow: scroll;
  display: flex; flex-direction: column;
}

.AnalysisHeader {
  background: #fafafa;
  padding: 12px;
}

.SidebarRow {
  /* padding: 10px; */
  /* padding-left: 30px; */
  user-select: none;
  display: flex;
  align-items: center;
}
.SidebarRow:hover {
  background: #fafafa;
}

.SidebarRowRoot {
  /* background: #e0e0e0; */
  font-size: 18px;;
}


.SidebarRowLeaf {
  /* background: #d0d0d0; */
  font-size: 16px;
}

.SidebarRow-focused {
  background: #eaeaea;
}
.SidebarRow-focused:hover {
  background: #eaeaea;
  /* background: #fafafa; */
}

.SidebarRowLeaf.SidebarRow-focused {
  /* background: #eaeaea; */
}

.SidebarRow__sigils {
  font-size: 16px;
  color: #606060;
  /* background: #eaeaea; */
  flex: 1;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.SidebarRow__desc {
  color: #303030;
  flex: 10;
  padding: 4px;
}